# Node
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# CDK
cdk.out/

# React/Vite
*.local
coverage/

# IDE
.vscode/
.idea/
.DS_Store

# Generated AWS files
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

# Other
*.log
*.sqlite
*.db
